<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <mvc:interceptors>
            <!-- 谁配置在前preHandle就先执行 -->
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <mvc:exclude-mapping path="/login"/>
                <mvc:exclude-mapping path="/doLogin"/>
                <mvc:exclude-mapping path="/doLogin2"/>
                <mvc:exclude-mapping path="/error"/>
                <mvc:exclude-mapping path="/js/**"/>
                <mvc:exclude-mapping path="/css/**"/>
                <mvc:exclude-mapping path="/favicon.ico"/>
                <mvc:exclude-mapping path="/changeLang"/>
                <bean class="com.example.springbootdemo.interceptor.LoginCheckInterceptor"/>
            </mvc:interceptor>
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.example.springbootdemo.interceptor.AdminInterceptor"/>
            </mvc:interceptor>
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
            </mvc:interceptor>
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.example.springbootdemo.interceptor.LocaleRequestInterceptor"/>
            </mvc:interceptor>
        </mvc:interceptors>

</beans>