<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hadoop Manager</title>
    <script src="../static/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            console.log("aaa")
            //扩展jquery的格式化方法
            $.fn.parseForm=function(){
                var serializeObj={};
                var array=this.serializeArray();
                var str=this.serialize();
                $(array).each(function(){
                    if(serializeObj[this.name]){
                        if($.isArray(serializeObj[this.name])){
                            serializeObj[this.name].push(this.value);
                        }else{
                            serializeObj[this.name]=[serializeObj[this.name],this.value];
                        }
                    }else{
                        serializeObj[this.name]=this.value;
                    }
                });
                return serializeObj;
            };
            $("#submitJob").click(function () {
                console.log("bbb")
                $.post("/yarn/submit",
                    //发送给后端的数据
                    {
                        "jarPath":$("#jarPath").val(),
                        "className":$("#className").val(),
                        "inputPath":$("#inputPath").val(),
                        "outputPath":$("#outputPath").val()
                    },
                    function(data){
                        console.log(data)
                        console.log(data.data)
                    },"json"
                )
            })

        })



    </script>
</head>
<body>
    <form id="form" name="form">
        <input type="text" id="jarPath" name="jarPath" />
        <input type="text" id="className" name="className" />
        <input type="text" id="inputPath" name="inputPath" />
        <input type="text" id="outputPath" name="outputPath" />
        <input id="submitJob" type="button" value="提交任务"/>
    </form>
</body>
</html>